*{
    box-sizing: border-box;
}


.header_main{
    width: 100%;
    background-color: #007765;
    padding-top: 0px;
    height: 84px;
    display: flex;
    align-items: center;
    position: fixed;
}


.menu_link{
    text-decoration: none;
    width: 129px;
    height: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}


.navigation_container{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.main__container{
    background: url(https://sun9-44.userapi.com/s/v1/if2/9o0H1FlqYkzY9RVZkOz7Y-aUZgJ1-466xdDxPf5sbaj1Hyx-Mfi6fvO7vKq_4_yji5U-mybn05h02cX2uJ9tZuN3.jpg?size=2560x513&quality=96&type=album) center no-repeat;
    background-size: cover;
    padding-top: 128px;
    padding-bottom: 128px;
}

.main_title1{
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
}



.main_container{
    width: 100%;
    max-width: 1219px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
}

.problem{
   width: 100%;
   height: auto;
   max-width: 1219px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 55px;
   padding-right: 55px;
}

.theproblem{
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding-top: 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    color: #007765;
}

.main_problem{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #000000;
}
.container {
    box-sizing: border-box;
    max-width: 1219px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
}
  
  .hero {
    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url('https://i.ibb.co/PM6cMBn/image.png');
    background-size: cover;
    background-position: center center;
  }
  
  .hero__message {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    color: #fff;
  }

.main_title2{
    width: auto;
    height: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    color: #007765;
}

.coin{
    width: auto;
    height: 115px;
    float: left;
    margin-right: 48px;
}

.main_text{
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}


.team{
    background-color: #EEEEEE;
    padding-top: 58px;
    padding-bottom: 112px;
  }
.cards__img{
    width: 350px;
    height: 283px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 55px;
    flex-wrap: nowrap;
}

.name__card{
   font-weight: bold;
   font-size: 24px;
   color: #007765;
  }
.team__cards{
    padding-top:58px;
}
.figure{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cards__foto{
    width: 168px;
    height: 168px;
}
  
.footer{
    padding-top: 50px;
    background-color: #333;
    height: 176px;
    text-align: center;
  }
.text__footer{
    width: 540px;
    height: 64px;
    margin: 0 auto;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
  }

.heading__title{
    margin-top: 48px;
    color: #007765;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
}